<!-- your html code here -->
<div class="row bg-white ">
    <div class="">
        <h1>Contact</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo neque id leo faucibus, a venenatis
            lectus dignissim</p>
    </div>
    <div class="row justify-content-center">
        <form class="bg-light col-6">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Your E-mail</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Your E-mail">
                </div>
            </div>
            <br>
            <div class="form-floating row">
                <p class="col-md-2">Your Comment</p>
                <div class="col-sm-10">
                    <textarea class="form-control col-md-2" placeholder="Leave a comment here" id="floatingTextarea2"
                    style="height: 100px"></textarea>
                </div>
            </div>
            <br>
                <div class="form-group">
                    <div class="">
                        <button type="submit" class="btn btn-primary float-end">Sign in</button>
                    </div>
                </div>

        </form>