<!-- your html code here -->

    <div class="row">
        <div class="col-md-8">
            <h1>the first heading <span class="text-secondary">will catch your eye</span></h1>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aut suscipit enim illum, debitis odit, exercitationem maiores officiis, animi commodi autem voluptate rem. Labore, laboriosam eum. Non blanditiis adipisci ea!</p>
        </div>
        <div class="col-md-4">
            <img class="rounded-circle" width="400" height="400" src="assets/img/1.jpg" alt="">
        </div>
    </div>
