<!-- your html code here -->
<div class="bg-white">
<div class="class">
    <h1>Portafolio</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo neque id leo faucibus, a venenatis lectus dignissim. Proin congue ut odio quis molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
</div>
<div class="row">
    <div class="col-4">
        <img src="assets/img/big-project-image.png" alt="" width="700" height="400" class="img-fluid">
        <h3 class="text-primary">Proyect Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo neque id leo faucibus, a venenatis lectus dignissim.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/big-project-image.png" alt="" width="700" height="400" class="img-fluid">
        <h3 class="text-primary">Proyect Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo neque id leo faucibus, a venenatis lectus dignissim.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/big-project-image.png" alt="" width="700" height="400" class="img-fluid">
        <h3 class="text-primary">Proyect Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo neque id leo faucibus, a venenatis lectus dignissim.</p>
    </div>
</div>