<!-- your html code here -->
<div class="row bg-white">
    <div class="col-md-4">
        <img src="assets/img/2.jpg" class="rounded-circle" alt="" width="350" height="350">
    </div>
    <div class="col-md-8">
        <h1>The Second Heading <span href="" class="text-secondary"> Is Pretty Cool To.</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo neque id leo faucibus, a venenatis
            lectus dignissim. Proin congue ut odio quis molestie. Class aptent taciti sociosqu ad litora torquent per
            conubia nostra, per inceptos himenaeos. Proin iaculis, neque quis tempus ultrices, risus dolor rutrum ante,
            ut cursus mauris felis quis ipsum. Donec sodales porta quam, in condimentum felis tincidunt at. Aliquam
            vitae elementum sapien. Aliquam pharetra arcu eu sagittis finibus..</p>
    </div>
</div>